*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-image: url("img/texture.jpg");
}

header{
  background-image: url("img/forest.jpg");
  background-size: cover;
  background-position: bottom;
  border: 10px solid white;
  width: 90%;
  margin: 50px calc(100% - 95%);
  height: 450px;
  position: relative;
}

header > div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  border: 5px solid white;
  padding: 15px 40px;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 20px;
}

header > i{
  position: absolute;
  font-size: 50px;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -190%);
}

#right{
  transform: translate(35%, -250%);
  font-size: 30px;
}

#left{
  font-size: 30px;
  transform: translate(-140%, -250%);
}

/* Inizio barra navigazione */
nav {
  position: absolute;
  bottom: 0;
  background-color: #092303;
  transform: translate(-9.6px, 120%);
  width: calc(100% + 19.43px);
  text-align: center;
  padding: 10px 0;
}

nav > ul > li{
  display: inline-block;
  font-size: 22px;
  line-height: 30px;
  color: white;
  padding: 0 20px;
  border-right: 1px solid white;
}

nav > ul > li:last-child{
  border-right: 0;
}

.select_box{
  color: white;
  border: 0;
  border-radius: 20px;
  background: transparent;
  font-size: 18px;
}

nav > ul > li > a{
  color: white;
  text-decoration: none;
}

nav > ul > li > a:hover{
  text-decoration: underline;
}
/* Fine barra navigazione */

/* Container colonne */
.container{
  width: 90%;
  margin: 70px calc(100% - 95%);
  position: relative;
}

.column_padding{
  padding: 10px 20px;
  margin: 10px 0;
}

/* Inizio colonna sinistra */
.left_column{
  float: left;
  width: 18%;
  background-color: white;
}

.left_column > i{
  color: orange;
  transform: translate(90%, 120%);
}

.left_column > h1{
  font-size: 18px;
  padding: 0 30px;
  padding-bottom: 10px;
  color: #092303;
}

/* Fine colonna sinistra */

/*Inizio colonna centrale*/
.middle_column{
  float: left;
  width: 50%;
  position: absolute;
  top: 0;
  left: 21%;
  color: black;
  background-color: white;
}

.middle_column > h1{
  color: #092303;
  padding: 10px 20px;
  font-size: 40px;
  font-weight: bold;
}

.middle_column > p{
  padding: 10px 20px;
  font-size: 18px;
}

.middle_column > p > a{
  color: green;
  text-decoration: none;
}

.middle_column > p > a:hover{
  text-decoration: underline;
}

.middle_column > p > a:visited{
  color: purple;
}
/* Fine colonna centrale */

/* Inizio colonna destra */
.right_column{
  float: right;
  width: 27%;
}

.text_widget{
  margin-bottom: 50px;
  background-color: white;
  padding: 10px 20px;
  margin: 10px 0;
}

.text_widget > h1{
  font-size: 20px;
  padding: 10px 5px;
  color: #092303;
}

.text_widget > p{
  font-size: 15px;
  padding: 10px 5px;
}

.recent_post_widget{
  background-color: white;
  padding: 10px 20px;
  margin: 10px 0;
}

.recent_post_widget > h1{
  font-size: 20px;
  padding: 10px 5px;
  color: #092303;
}

/* Fine colonna destra  */

/* Link colonne laterali */
.sides_column_link > li{
  list-style-type: none;
  padding: 10px 20px;
  margin: 0;
}
.sides_column_link > li > a{
  color: green;
  text-decoration: none;
}
.sides_column_link > li > a:hover{
  text-decoration: underline;
}
.sides_column_link > li > a:visited{
  color: purple;
}
